$btnColor: hsl(322, 100%, 66%);
$btnColor2: hsl(321, 100%, 78%);
$lightRed: hsl(0, 100%, 63%);
$headerColor: hsl(192, 100%, 9%);
$paraColor: hsl(192, 78%, 20%);

$whiteColor: hsl(207, 100%, 98%);
$bg-image-center: no-repeat top/contain;
$header-font: poppins;
$body-font: openSans;
$header-weight: 700;

@import "./components/resets";
@import "./components/nav";
@import "./components/main";
@import "./components/community";
@import "./components/section";
@import "./components/btn";
@import "./components/footer";

@font-face {
  font-family: poppins;
  src: url(./fonts/Poppins/Poppins-Black.ttf);
}

@font-face {
  font-family: openSans;
  src: url(./fonts/Open_Sans/OpenSans-VariableFont_wdth\wght.ttf);
}
