* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
nav .logo {
  width: 100px;
  height: 20px;
}
nav button {
  background: none;
  border: 1px hsl(322, 100%, 66%) solid;
  padding: 10px 20px;
  border-radius: 50px;
  color: hsl(322, 100%, 66%);
  cursor: pointer;
  font-family: poppins;
}
nav button:hover {
  border: 1px hsl(321, 100%, 78%) solid;
  color: hsl(321, 100%, 78%);
}

@media screen and (min-width: 576px) {
  nav {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (min-width: 1400px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    margin-top: 50px;
  }
  nav .logo {
    width: 200px;
    height: 30px;
  }
  nav button {
    background-color: white;
    border: 1px hsl(322, 100%, 66%) solid;
    padding: 15px 40px;
    border-radius: 50px;
    color: hsl(322, 100%, 66%);
    cursor: pointer;
    margin-right: 100px;
  }
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 20px;
}
main h1 {
  text-align: center;
  color: hsl(192, 100%, 9%);
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 20px;
  font-family: poppins;
  font-weight: 700;
}
main p {
  text-align: center;
  color: hsl(192, 100%, 9%);
  font-weight: lighter;
  margin-bottom: 30px;
  font-family: poppins;
  font-weight: 400;
}
main .pinkbtn {
  background-color: hsl(322, 100%, 66%);
  border: none;
  padding: 10px 20px;
  color: hsl(207, 100%, 98%);
  border-radius: 50px;
  margin-bottom: 20px;
  box-shadow: 0 1px 5px black;
  font-weight: 600;
  font-size: small;
}
main .pinkbtn:hover {
  background-color: hsl(321, 100%, 78%);
  cursor: pointer;
}
main img {
  width: 250px;
  margin-top: 60px;
}

@media screen and (min-width: 576px) {
  main {
    padding-left: 50px;
    padding-right: 50px;
  }
  main img {
    width: 450px;
    margin-top: 40px;
  }
}
@media screen and (min-width: 992px) {
  main {
    padding-left: 50px;
    padding-right: 50px;
  }
  main h1 {
    font-size: 2rem;
  }
  main p {
    text-align: center;
    color: hsl(192, 100%, 9%);
    font-weight: lighter;
    margin-bottom: 30px;
    font-family: poppins;
    font-size: 20px;
    font-weight: 400;
  }
  main .pinkbtn {
    padding: 20px 80px;
    color: hsl(207, 100%, 98%);
    border-radius: 50px;
    margin-bottom: 20px;
    box-shadow: 0 1px 5px black;
    font-weight: bold;
    font-size: small;
  }
  main img {
    width: 650px;
    margin-top: 40px;
  }
}
@media screen and (min-width: 992px) {
  main {
    padding-left: 50px;
    padding-right: 50px;
  }
  main .pinkbtn {
    padding: 20px 80px;
    color: hsl(207, 100%, 98%);
    border-radius: 50px;
    margin-bottom: 20px;
    box-shadow: 0 1px 5px black;
    font-weight: bold;
    font-size: small;
  }
  main img {
    width: 850px;
    margin-top: 40px;
  }
}
@media screen and (min-width: 992px) {
  main h1 {
    font-size: 3rem;
  }
  main p {
    text-align: center;
    color: hsl(192, 100%, 9%);
    font-weight: lighter;
    margin-bottom: 30px;
    font-family: poppins;
    font-size: 30px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1400px) {
  main {
    margin-top: 100px;
  }
  main h1 {
    font-size: 50px;
  }
  main p {
    text-align: center;
    color: hsl(192, 100%, 9%);
    font-weight: lighter;
    margin-bottom: 30px;
    font-family: poppins;
    font-size: 24px;
    font-weight: 400;
    padding: 0 150px;
  }
  main .pinkbtn {
    margin-top: 50px;
    font-size: 24px;
    margin-bottom: 50px;
  }
  main img {
    width: 850px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section1 .img1 {
  width: 20px;
  margin-left: 10px;
}
.section1 .img2 {
  width: 20px;
}
.section1 h1 {
  font-size: 50px;
  text-align: center;
  color: hsl(192, 100%, 9%);
  font-family: poppins;
  font-weight: 700;
}
.section1 p {
  font-family: poppins;
  font-weight: 400;
  color: hsl(192, 78%, 20%);
}
.section1 .p2 {
  text-align: center;
  max-width: 80px;
  margin-left: 35px;
}
.section1 div {
  padding: 40px;
}

@media screen and (min-width: 576px) {
  .section1 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
  .section1 .p2 {
    text-align: center;
    color: hsl(192, 100%, 9%);
    margin-left: 20px;
    text-wrap: nowrap;
  }
}
@media screen and (min-width: 992px) {
  .section1 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 250px;
    margin-bottom: 100px;
  }
  .section1 .img1 {
    width: 40px;
    margin-left: 10px;
  }
  .section1 .img2 {
    width: 40px;
  }
  .section1 .p2 {
    text-align: center;
    color: hsl(192, 100%, 9%);
    margin-left: 20px;
    text-wrap: nowrap;
    font-size: 20px;
  }
  .section1 p {
    font-size: 20px;
  }
}
@media screen and (min-width: 1400px) {
  .section1 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin-top: 20px;
  }
  .section1 .img1 {
    width: 60px;
    margin-left: 10px;
  }
  .section1 .img2 {
    width: 60px;
  }
  .section1 h1 {
    font-size: 100px;
    text-align: center;
    color: hsl(192, 100%, 9%);
    font-family: poppins;
    font-weight: 700;
  }
  .section1 p {
    font-size: 30px;
  }
  .section1 .p2 {
    text-align: center;
    color: hsl(192, 100%, 9%);
    margin-left: 20px;
    text-wrap: nowrap;
    font-size: 30px;
  }
}
.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: poppins;
}
.section2 .grow .mobile-section-bg-top1 {
  width: 100%;
  margin-bottom: -56px;
}
.section2 .grow .desktop-section-bg-top1 {
  display: none;
}
.section2 .grow .grow-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 80px 20px 80px 20px;
  background-color: hsl(207, 100%, 98%);
}
.section2 .grow img {
  width: 200px;
}
.section2 .grow h2 {
  color: hsl(192, 100%, 9%);
  text-align: center;
  margin-top: 40px;
}
.section2 .grow p {
  color: hsl(192, 100%, 9%);
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
}
.section2 .grow .mobile-section-bg-bottom1 {
  width: 100%;
  margin-bottom: -20px;
}
.section2 .grow .desktop-section-bg-bottom1 {
  display: none;
}
.section2 .flowing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 80px 20px 80px 20px;
  background-color: hsl(207, 100%, 98%);
  background-color: white;
}
.section2 .flowing img {
  width: 200px;
}
.section2 .flowing h2 {
  color: hsl(192, 100%, 9%);
  text-align: center;
  margin-top: 40px;
}
.section2 .flowing p {
  color: hsl(192, 100%, 9%);
  text-align: center;
  margin-top: 10px;
}
.section2 .users .mobile-section-bg-top2 {
  width: 100%;
  margin-bottom: -60px;
}
.section2 .users .desktop-section-bg-top2 {
  display: none;
}
.section2 .users .user-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 80px 20px 80px 20px;
  background-color: hsl(207, 100%, 98%);
  padding: 40px 20px 90px 20px;
}
.section2 .users .user-cont img {
  width: 200px;
}
.section2 .users .user-cont h2 {
  color: hsl(192, 100%, 9%);
  text-align: center;
  margin-top: 40px;
}
.section2 .users .user-cont p {
  color: hsl(192, 100%, 9%);
  text-align: center;
  margin-top: 10px;
}
.section2 .users .mobile-section-bg-bottom2 {
  width: 100%;
}
.section2 .users .desktop-section-bg-bottom2 {
  display: none;
}

@media screen and (min-width: 576px) {
  .section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section2 .grow .mobile-section-bg-top1 {
    width: 100%;
    margin-bottom: -55px;
  }
  .section2 .grow .mobile-section-bg-top1 {
    width: 100%;
    margin-bottom: -55px;
    display: none;
  }
  .section2 .grow .desktop-section-bg-top1 {
    display: block;
    width: 100%;
    margin-bottom: -55px;
  }
  .section2 .grow .grow-cont {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 80px 20px 80px 20px;
    background-color: hsl(207, 100%, 98%);
    gap: 20px;
  }
  .section2 .grow .grow-cont .grow-text {
    text-align: start;
  }
  .section2 .grow .grow-cont .grow-text h2 {
    text-align: start;
  }
  .section2 .grow .grow-cont .grow-text p {
    text-align: start;
  }
  .section2 .grow .grow-cont img {
    width: 300px;
  }
  .section2 .grow .mobile-section-bg-bottom1 {
    width: 100%;
    margin-bottom: -20px;
    display: none;
  }
  .section2 .grow .desktop-section-bg-bottom1 {
    display: block;
    width: 100%;
    margin-bottom: -20px;
  }
  .section2 .flowing {
    flex-direction: row;
    margin-top: 50px;
    background-color: white;
    gap: 20px;
  }
  .section2 .flowing .flowing-text h2 {
    text-align: start;
    margin-left: 10px;
  }
  .section2 .flowing .flowing-text p {
    text-align: start;
    margin-left: 10px;
  }
  .section2 .flowing img {
    width: 250px;
  }
  .section2 .users .mobile-section-bg-top2 {
    display: none;
  }
  .section2 .users .desktop-section-bg-top2 {
    width: 100%;
    margin-bottom: -60px;
    display: block;
  }
  .section2 .users .user-cont {
    flex-direction: row-reverse;
    margin-top: 50px;
    padding: 40px 20px 90px 20px;
    gap: 20px;
  }
  .section2 .users .user-cont h2 {
    text-align: start;
  }
  .section2 .users .user-cont p {
    text-align: start;
  }
  .section2 .users .user-cont img {
    width: 300px;
  }
  .section2 .users .mobile-section-bg-bottom2 {
    display: none;
  }
  .section2 .users .desktop-section-bg-bottom2 {
    width: 100%;
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .section2 .grow .grow-cont .grow-text {
    text-align: start;
    padding-left: 50px;
    padding-right: 50px;
  }
  .section2 .grow .grow-cont .grow-text h2 {
    text-align: start;
  }
  .section2 .grow .grow-cont .grow-text p {
    text-align: start;
  }
  .section2 .grow .grow-cont img {
    width: 300px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .section2 .flowing {
    flex-direction: row;
    margin-top: 50px;
    background-color: white;
  }
  .section2 .flowing .flowing-text {
    padding-left: 50px;
    padding-right: 50px;
  }
  .section2 .flowing .flowing-text h2 {
    text-align: start;
    margin-left: 10px;
  }
  .section2 .flowing .flowing-text p {
    text-align: start;
    margin-left: 10px;
  }
  .section2 .flowing img {
    width: 300px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .section2 .user-cont {
    flex-direction: row-reverse;
    margin-top: 50px;
    padding: 40px 20px 90px 20px;
  }
  .section2 .user-cont h2 {
    text-align: start;
    padding-left: 50px;
    padding-right: 50px;
  }
  .section2 .user-cont p {
    text-align: start;
    padding-left: 50px;
    padding-right: 50px;
  }
  .section2 .user-cont img {
    width: 300px;
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media screen and (min-width: 992px) {
  .section2 .grow .grow-cont .grow-text h2 {
    text-align: start;
    font-size: 30px;
  }
  .section2 .grow .grow-cont .grow-text p {
    text-align: start;
    font-size: 20px;
  }
  .section2 .flowing-text h2 {
    text-align: start;
    font-size: 30px;
  }
  .section2 .flowing-text p {
    text-align: start;
    font-size: 20px;
  }
  .section2 .users-text h2 {
    text-align: start;
    font-size: 30px;
  }
  .section2 .users-text p {
    text-align: start;
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .section2 .grow .grow-cont .grow-text h2 {
    text-align: start;
    font-size: 30px;
  }
  .section2 .grow .grow-cont .grow-text p {
    text-align: start;
    font-size: 24px;
  }
  .section2 .grow .grow-cont img {
    width: 400px;
  }
  .section2 .flowing-text h2 {
    text-align: start;
    font-size: 30px;
  }
  .section2 .flowing-text p {
    text-align: start;
    font-size: 24px;
  }
  .section2 .users-text h2 {
    text-align: start;
    font-size: 30px;
  }
  .section2 .users-text p {
    text-align: start;
    font-size: 24px;
  }
}
@media screen and (min-width: 1400px) {
  .section2 .grow .grow-cont {
    gap: 200px;
  }
  .section2 .grow .grow-cont .grow-text {
    max-width: 600px;
  }
  .section2 .grow .grow-cont .grow-text h2 {
    text-align: start;
    font-size: 40px;
  }
  .section2 .grow .grow-cont .grow-text p {
    text-align: start;
    font-size: 24px;
  }
  .section2 .grow .grow-cont img {
    width: 500px;
  }
  .section2 .flowing img {
    width: 500px;
  }
  .section2 .flowing .flowing-text h2 {
    text-align: start;
    font-size: 40px;
  }
  .section2 .flowing .flowing-text p {
    text-align: start;
    font-size: 24px;
  }
  .section2 .users .user-cont img {
    width: 500px;
  }
  .section2 .users .user-cont .users-text h2 {
    text-align: start;
    font-size: 40px;
  }
  .section2 .users .user-cont .users-text p {
    text-align: start;
    font-size: 24px;
  }
}
.btn-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 120px;
  padding-top: 30px;
  padding-bottom: 150px;
  font-family: poppins;
}
.btn-section h2 {
  color: hsl(192, 100%, 9%);
  font-weight: 700;
}
.btn-section button {
  border: none;
  border-radius: 50px;
  background-color: hsl(322, 100%, 66%);
  color: hsl(207, 100%, 98%);
  padding: 10px 20px;
  font-size: 10px;
  margin-top: 20px;
  box-shadow: 0 1px 5px black;
  cursor: pointer;
  font-family: poppins;
  font-weight: 600;
}
.btn-section button:hover {
  background-color: hsl(321, 100%, 78%);
}

@media screen and (min-width: 992px) {
  .btn-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    padding-top: 30px;
    padding-bottom: 150px;
  }
  .btn-section h2 {
    color: hsl(192, 100%, 9%);
  }
  .btn-section button {
    border: none;
    border-radius: 50px;
    background-color: hsl(322, 100%, 66%);
    color: hsl(207, 100%, 98%);
    padding: 20px 80px;
    font-size: 10px;
    margin-top: 20px;
    box-shadow: 0 1px 5px black;
    cursor: pointer;
  }
}
@media screen and (min-width: 992px) {
  .btn-section h2 {
    color: hsl(192, 100%, 9%);
    font-size: 35px;
  }
  .btn-section button {
    border: none;
    border-radius: 50px;
    background-color: hsl(322, 100%, 66%);
    color: hsl(207, 100%, 98%);
    padding: 20px 80px;
    font-size: 20px;
    margin-top: 20px;
    box-shadow: 0 1px 5px black;
    cursor: pointer;
  }
}
footer {
  position: relative;
  overflow-x: hidden;
  font-family: poppins;
}
footer .attribution {
  font-size: 11px;
  text-align: center;
  color: white;
  background-color: hsl(192, 100%, 9%);
  padding: 20px 50px 20px 50px;
  border: none;
}
footer .attribution a {
  color: hsl(228, 45%, 44%);
}
footer .footer-bg {
  width: 100%;
  margin-bottom: -10px;
}
footer .footer-container {
  background-color: hsl(192, 100%, 9%);
  padding: 20px 20px 20px 20px;
}
footer .footer-container .newletter {
  color: hsl(207, 100%, 98%);
  padding: 20px;
  padding-top: 50px;
}
footer .footer-container .newletter p {
  margin-top: 20px;
  font-family: poppins;
  font-weight: 400;
  font-size: 12px;
}
footer .footer-container .inputbox {
  display: flex;
  flex-direction: column;
}
footer .footer-container .inputbox .input-error {
  display: flex;
  flex-direction: column;
}
footer .footer-container .inputbox .input-error .error-message {
  color: hsl(0, 100%, 63%);
  margin-top: 5px;
}
footer .footer-container .inputbox .input-error .success-msg {
  color: green;
  margin-top: 5px;
}
footer .footer-container .inputbox input {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
}
footer .footer-container .inputbox .btn-cont {
  align-self: flex-end;
}
footer .footer-container .inputbox button {
  background-color: hsl(322, 100%, 66%);
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  width: 100px;
  align-self: flex-end;
  margin-top: 10px;
  color: hsl(207, 100%, 98%);
  cursor: pointer;
  font-family: poppins;
  font-weight: 400;
  font-size: 12px;
}
footer .footer-container .inputbox button:hover {
  background-color: hsl(321, 100%, 78%);
}
footer .footer-container .logo-write-up {
  margin-top: 60px;
}
footer .footer-container .logo-write-up .logo {
  filter: invert(50%) brightness(500%);
  width: 150px;
}
footer .footer-container .logo-write-up p {
  color: hsl(207, 100%, 98%);
  font-family: poppins;
  font-weight: 400;
  font-size: 12px;
  margin-top: 10px;
}
footer .footer-container .logo-write-up .phone, footer .footer-container .logo-write-up .email {
  display: flex;
  margin-top: 30px;
}
footer .footer-container .logo-write-up .phone img, footer .footer-container .logo-write-up .email img {
  width: 15px;
  height: 15px;
}
footer .footer-container .logo-write-up .phone p, footer .footer-container .logo-write-up .email p {
  margin-left: 20px;
  margin-top: -1px;
  font-family: poppins;
  font-weight: 400;
  font-size: 10px;
}
footer .footer-container .logo-write-up .email {
  margin-top: 10px;
}
footer .footer-container .logo-write-up .icons {
  margin-top: 30px;
  display: flex;
}
footer .footer-container .logo-write-up .icons .fb, footer .footer-container .logo-write-up .icons .twit {
  background-color: white;
  display: flex;
  align-items: center;
  max-width: 20px;
  justify-content: end;
  padding-right: 2px;
  padding-left: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: hsl(192, 100%, 9%);
  border-radius: 2px;
  cursor: pointer;
}
footer .footer-container .logo-write-up .icons .fb:hover, footer .footer-container .logo-write-up .icons .twit:hover {
  background-color: skyblue;
}
footer .footer-container .logo-write-up .icons .fa-instagram {
  margin-left: 20px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
footer .footer-container .logo-write-up .icons .fa-instagram:hover {
  color: skyblue;
}
footer .footer-container .logo-write-up .icons .twit {
  margin-left: 20px;
}
footer .footer-container .logo-write-up .icons .twit:hover {
  background-color: skyblue;
}

@media screen and (min-width: 576px) {
  footer .footer-container {
    background-color: hsl(192, 100%, 9%);
    display: flex;
    flex-direction: row-reverse;
  }
  footer .footer-container .input-cont .newletter {
    color: hsl(207, 100%, 98%);
    padding-top: 40px;
  }
  footer .footer-container .input-cont .newletter p {
    margin-top: 20px;
  }
  footer .footer-container .input-cont .inputbox {
    display: flex;
    flex-direction: row;
  }
  footer .footer-container .input-cont .inputbox input {
    width: 200px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    margin-left: 20px;
  }
  footer .footer-container .input-cont .inputbox .btn-cont {
    margin-bottom: 5px;
  }
  footer .footer-container .input-cont .inputbox .btn-cont button {
    width: 100px;
    align-self: flex-end;
    margin-left: 10px;
  }
  footer .footer-container .logo-write-up {
    margin-top: 40px;
  }
}
@media screen and (min-width: 992px) {
  footer .footer-container {
    background-color: hsl(192, 100%, 9%);
    padding: 20px 20px 20px 20px;
  }
  footer .footer-container .input-cont .newletter {
    color: hsl(207, 100%, 98%);
    padding: 20px;
    padding-top: 50px;
    font-size: 30px;
  }
  footer .footer-container .input-cont .newletter p {
    margin-top: 20px;
    font-family: poppins;
    font-weight: 400;
    font-size: 20px;
  }
  footer .footer-container .input-cont .inputbox {
    display: flex;
    flex-direction: row;
  }
  footer .footer-container .input-cont .inputbox input {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    width: 300px;
  }
  footer .footer-container .input-cont .inputbox .btn-cont {
    align-self: flex-end;
  }
  footer .footer-container .input-cont .inputbox button {
    background-color: hsl(322, 100%, 66%);
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    width: 100px;
    align-self: flex-end;
    margin-top: 10px;
    color: hsl(207, 100%, 98%);
    cursor: pointer;
    font-family: poppins;
    font-weight: 400;
    font-size: 12px;
    width: 600px;
  }
  footer .footer-container .logo-write-up {
    margin-top: 60px;
  }
  footer .footer-container .logo-write-up .logo {
    filter: invert(50%) brightness(500%);
    width: 200px;
  }
  footer .footer-container .logo-write-up p {
    color: hsl(207, 100%, 98%);
    font-family: poppins;
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;
  }
  footer .footer-container .logo-write-up .phone, footer .footer-container .logo-write-up .email {
    display: flex;
    margin-top: 30px;
  }
  footer .footer-container .logo-write-up .phone img, footer .footer-container .logo-write-up .email img {
    width: 15px;
    height: 15px;
  }
  footer .footer-container .logo-write-up .phone p, footer .footer-container .logo-write-up .email p {
    margin-left: 20px;
    margin-top: -1px;
    font-family: poppins;
    font-weight: 400;
    font-size: 20px;
  }
  footer .footer-container .logo-write-up .email {
    margin-top: 10px;
  }
  footer .footer-container .logo-write-up .icons {
    margin-top: 30px;
    display: flex;
  }
  footer .footer-container .logo-write-up .icons .fb, footer .footer-container .logo-write-up .icons .twit {
    background-color: white;
    display: flex;
    align-items: center;
    max-width: 30px;
    max-height: 30px;
    justify-content: end;
    padding-right: 2px;
    padding-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: hsl(192, 100%, 9%);
    border-radius: 2px;
    cursor: pointer;
  }
}
@media screen and (min-width: 992px) {
  footer .attribution {
    font-size: 24px;
    text-align: center;
    color: white;
    background-color: hsl(192, 100%, 9%);
    padding: 20px 50px 20px 50px;
    border: none;
  }
  footer .attribution a {
    color: hsl(228, 45%, 44%);
  }
  footer .footer-container {
    background-color: hsl(192, 100%, 9%);
    padding: 20px 100px 20px 100px;
    gap: 50px;
  }
  footer .footer-container .input-cont .newletter {
    color: hsl(207, 100%, 98%);
    padding: 20px;
    padding-top: 50px;
    font-size: 40px;
  }
  footer .footer-container .input-cont .newletter p {
    margin-top: 20px;
    font-family: poppins;
    font-weight: 400;
    font-size: 24px;
  }
  footer .footer-container .input-cont .inputbox {
    display: flex;
    flex-direction: row;
  }
  footer .footer-container .input-cont .inputbox input {
    padding: 25px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    width: 350px;
  }
  footer .footer-container .input-cont .inputbox ::-moz-placeholder {
    font-size: 24px;
  }
  footer .footer-container .input-cont .inputbox ::placeholder {
    font-size: 24px;
  }
  footer .footer-container .input-cont .inputbox .btn-cont {
    margin-bottom: 5px;
  }
  footer .footer-container .input-cont .inputbox .btn-cont button {
    width: 200px;
    align-self: flex-end;
    margin-left: 50px;
    font-size: 30px;
  }
  footer .footer-container .logo-write-up {
    margin-top: 60px;
  }
  footer .footer-container .logo-write-up .logo {
    filter: invert(50%) brightness(500%);
    width: 300px;
  }
  footer .footer-container .logo-write-up p {
    color: hsl(207, 100%, 98%);
    font-family: poppins;
    font-weight: 400;
    font-size: 30px;
    margin-top: 10px;
  }
  footer .footer-container .logo-write-up .phone, footer .footer-container .logo-write-up .email {
    display: flex;
    margin-top: 30px;
  }
  footer .footer-container .logo-write-up .phone img, footer .footer-container .logo-write-up .email img {
    width: 25px;
    height: 25px;
  }
  footer .footer-container .logo-write-up .phone p, footer .footer-container .logo-write-up .email p {
    margin-left: 20px;
    margin-top: -1px;
    font-family: poppins;
    font-weight: 400;
    font-size: 20px;
  }
  footer .footer-container .logo-write-up .email {
    margin-top: 10px;
  }
  footer .footer-container .logo-write-up .icons {
    margin-top: 30px;
    display: flex;
    font-size: 40px;
  }
  footer .footer-container .logo-write-up .icons .fb, footer .footer-container .logo-write-up .icons .twit {
    background-color: white;
    display: flex;
    align-items: center;
    max-width: 40px;
    justify-content: end;
    padding-right: 2px;
    padding-left: 8px;
    padding-top: 24px;
    padding-bottom: 20px;
    color: hsl(192, 100%, 9%);
    border-radius: 2px;
    cursor: pointer;
  }
  footer .footer-container .logo-write-up .icons .fb:hover, footer .footer-container .logo-write-up .icons .twit:hover {
    background-color: skyblue;
  }
  footer .footer-container .logo-write-up .icons .fa-instagram {
    margin-left: 20px;
    color: white;
    font-size: 40px;
    cursor: pointer;
  }
  footer .footer-container .logo-write-up .icons .fa-instagram:hover {
    color: skyblue;
  }
  footer .footer-container .logo-write-up .icons .twit {
    margin-left: 20px;
  }
  footer .footer-container .logo-write-up .icons .twit:hover {
    background-color: skyblue;
  }
}
@font-face {
  font-family: poppins;
  src: url(./fonts/Poppins/Poppins-Black.ttf);
}
@font-face {
  font-family: openSans;
  src: url(./fonts/Open_Sans/OpenSans-VariableFont_wdthwght.ttf);
}/*# sourceMappingURL=style.css.map */